* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
	background-color: #FFFFFF;
}
/**Header**/
.container{
	margin:0px;
}
#header-nav{
	background-color: #9DB9C9;
	  border-radius: 0;
    border: 0;
}
.navbar-brand{
    margin-bottom: 20px;
    padding: 0;

}
.navbar-brand h1{
	 font-family: Arial, serif;
    color: #FFFFFF;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 25px;
}
#nav-list a{
	color:#FFFFFF;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	background-color: #E3DBCF;
}
#nav-list a:hover{#E3DBCF
	background-color: #FFFFFF;
	color:#E0D4BE;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FFFFFF;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/********** body **********/
h2{
	 font-family: Arial, serif;
	text-align: center;
	color:#BAB39A;
	font-size: 2.3em;
	font-weight: bold;
}
.main-content{
	margin:10px;
	padding:0px;
}
.content{
	margin:10px;
	padding: 10px;
    background-color: #DBE0E5;
    height: auto;
}
.col-md-4,.col-sm-6,.col-sm-12,.col-xs-12{
	padding: 0px;
}
.content p{
	margin:0px;
	padding: 5px;
    word-break: break-all;
	overflow:auto;
	border-collapse: collapse;
	height:400px;
}
.col-md-4 p{
	height: 350px;
}

.content .title{
   text-align: center;
   font-family: Arial, serif;
	color:#A4ADBA;
	font-size: 1.8em;
	font-weight: bold;
}
